<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <!-- <logger name="cn.nriet.datacenter.mapper" level="DEBUG">
    </logger> -->
    <!-- 日志根目录-->
    <springProperty scope="context" name="LOG_HOME" source="logging.path" defaultValue="/home/logs/api"/>
    <!-- 日志级别 -->
    <springProperty scope="context" name="LOG_ROOT_LEVEL" source="logging.level.root" defaultValue="DEBUG"/>

    <!--  标识这个"STDOUT" 将会添加到这个logger -->
    <!-- <springProperty scope="context" name="STDOUT" source="log.stdout" defaultValue="STDOUT"/> -->

    <!-- 日志文件名称-->
    <property name="LOG_PREFIX" value="nriet-boot-sample" />

    <!-- 日志文件编码-->
    <property name="LOG_CHARSET" value="UTF-8" />
</configuration>